@font-face{
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
:root{
    /* -------color-------- */
    
    /* Primary */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    
    /* --------fonts-------- */
    --primary: outfit;
    
    /* spacing */
    --space: 10%;
    --lg-space: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary);
    color: var(--Wenge-Brown);
}
body{
    background-color: var(--Eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    max-width: 370px;
    background-color: var(--White);
}
main header img{
    width: 100%;
}
main header h1{
    margin: var(--space);
    font-family: young-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
}
main section h2{
    color: var(--Nutmeg);
}
main header p{
    margin: var(--space);
}

/* ----------preparation---------- */

main section#prep{
    margin: var(--space);
    background-color: var(--Rose-White);
    border-radius: 10px;
    padding: 1px;
    border-bottom-style: none;
}
main section#prep h2{
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--Dark-Raspberry);
}
main section ul{
    list-style: none;

}
main section#prep ul{
    margin: 20px;
}
main section ul li{
    margin: 15px;
    padding-left: 20px;
    position: relative;
}
main section ul li::before{
    content: ".";
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: -10px;
    top: -17px;
    color: var(--Nutmeg);
}
main section#prep > ul li::before{
    color: var(--Dark-Raspberry); 
}
/* ----------ingredients---------- */
main section{
    margin: var(--space);
    border-bottom: 1px solid var(--Dark-Charcoal);
    padding-bottom: 15px;
}
main section h2{
    font-family: young-serif;
    font-weight: 400;
    font-size: 30px;
}

/* ----------instructions---------- */
main section ol{
    list-style: none;
    counter-reset: coun;
}

main section ol li{
    margin: 20px;
    padding: 20px;
    counter-increment: coun;
    position: relative;
}
main section ol li::before{
    content: counter(coun) ".";
    color: var(--Nutmeg);
    font-weight: bold;
    position: absolute;
    left: -10px;
}
main section p{
    margin: 20px 0;
}
main section table{
    width: 100%;
    border-collapse: collapse;
}
main section table td{
    border-bottom: 1px solid var(--Dark-Charcoal);
    padding: 20px;
}
main section:last-child{
    border: none;
}
main section table tr:last-child td{
    border-bottom: none;
}
main section table td:last-child{
    color: var(--Nutmeg);
    font-weight: 800;
}

@media screen and ( min-width: 769px) {
    
    main{
        margin: 100px auto;
        max-width: 800px;
        border-radius: 20px;
    }
    
    main header img{
        width: 92%;
        border-radius: 10px;
        display: block;
        margin: 30px auto;
    }
    main header h1{
        margin: var(--lg-space);
    }
    main header p{
        margin: var(--lg-space);
    }
    main section{
        margin: var(--lg-space);
    }
}
